<div class="container p-1">
  <h2 mat-card-title class="">Add Project</h2>
  <form [formGroup]='projectForm'>
    <div>
      <label class="dialog-label">Title</label>
      <mat-form-field class="w-100" color="accent"> 
        <input type="text"  
        id="name"
        name="name" 
        minlength="3"
        maxlength="30"
        formControlName="name"
        required
        matInput
        >
        <mat-error *ngIf="this.projectForm.controls['name'].hasError('required')">Project Name is required</mat-error>
        <mat-error *ngIf="this.projectForm.controls['name'].hasError('minlength')">Project Name contains the wrong amount of characters</mat-error>
        <br />
      </mat-form-field>
      <label class="dialog-label">Color</label> 
      <mat-form-field class="w-100" color="accent">
        <mat-select formControlName="color_user">
          <mat-option *ngFor="let color of colors_user" [value]="color.hex">
           <span class="color-option" [ngStyle]="{'background-color': color.hex}"></span> {{ color.color_name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.projectForm.controls['color_user'].hasError('required')">Project Color is required</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="flex"> 
      <button  (click)="onCancel()" class="btn bg-grey" >Cancel</button> 
      <button  *ngIf="!projectForm.value.id" (click)="createProject()" class="btn bg-success">Add</button>
      <button  *ngIf="projectForm.value.id" (click)="updateProject()"  class="btn bg-primary">Edit</button>
    </div>
  </form>
  </div>