<div class="container">
    <h2 mat-card-title *ngIf="!taskForm.value.id">Add Task</h2>
    <h2 mat-card-title *ngIf="taskForm.value.id">Edit Task</h2>
    <form [formGroup]="taskForm" >
    <div mat-dialog-content class="flex">
        <label class="dialog-label">Title</label>
        <mat-form-field class="w-100" color="accent"> 
            <input type="text"  
            name="title" 
            formControlName="title"
            required
            matInput placeholder="Add a Task..." 
            >
        <mat-error *ngIf="this.taskForm.controls['title'].hasError('required')">Task title is required</mat-error>
        <mat-error *ngIf="this.taskForm.controls['title'].hasError('minlength')">Task title must have more than 3 characters</mat-error>
        <mat-error *ngIf="this.taskForm.controls['title'].hasError('maxlength')">Task title must have less than 30 characters</mat-error>
    </mat-form-field>
        <label class="dialog-label">Description</label>
        <mat-form-field class="w-100" color="accent">
            <textarea  matInput
            name="description"
            formControlName="description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="15" placeholder="Add description task...">{{data.description}}</textarea>
            <mat-error *ngIf="this.taskForm.controls['title'].hasError('required')">Task title is required</mat-error>
            <mat-error *ngIf="this.taskForm.controls['title'].hasError('minlength')">Task title must have more than 5 characters</mat-error>
        </mat-form-field> 
        <label class="dialog-label">Project</label> 
        <mat-form-field class="w-100">
          <mat-select formControlName="project_id" name="project_id">
            <mat-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100" color="accent">
            <label class="dialog-label">Due Date</label>
            <input matInput [matDatepicker]="picker"
            name="due_date"
            formControlName="due_date"
            >
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> 
        

    </div>
    <div mat-dialog-actions class="dialog-actions"> 
        <button  (click)="onCancel()" class="btn bg-grey">Cancel</button> 
        <button  *ngIf="!taskForm.value.id"
        cdkFocusInitial class="btn bg-success" (click)="create()">Add</button>
        <button *ngIf="taskForm.value.id"
        cdkFocusInitial class="btn bg-primary" (click)="update()">Edit</button>

        
    </div> 
</form>

    
</div>
