<div class="container">
    <form [formGroup]="taskForm" >
    <div mat-dialog-actions class="dialog-actions"> 
        <button mat-button (click)="onCancel()" class="button-dialog">Cancel</button> 
        <button mat-button [hidden]="taskForm.value.id"
        cdkFocusInitial class="button-dialog" (click)="create()">Add</button>
        <button mat-button  [hidden]="!taskForm.value.id"
        cdkFocusInitial class="button-dialog" (click)="update()">Edit</button>

        
    </div> 
    <div mat-dialog-content class="flex">
        <label class="dialog-label">Title</label>
        <mat-form-field class="w-100" color="accent"> 
            <input type="text"  
            name="title" 
            formControlName="title"
            required
            matInput placeholder="Add a Task..." 
            >
        <mat-error *ngIf="">Title is required</mat-error>
        </mat-form-field>
        <label class="dialog-label">Description</label>
        <mat-form-field class="w-100" color="accent">
            <textarea  matInput
            name="description"
            formControlName="description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="15" placeholder="Add description task...">{{data.description}}</textarea>
        </mat-form-field> 

    </div>
</form>

    
</div>
