<section class="homepage">
  <div class="container">
    <h1 class="center">todo</h1>
    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laboriosam voluptatem, ut accusamus modi doloribus totam at reiciendis porro, corrupti recusandae mollitia aut culpa? Eum animi unde dignissimos quam? Temporibus.</p>
    <button [routerLink]="'/tasks'"class="btn btn-actions align-center">Get Started</button>
    <img class="image align-center" alt="App image" src="../../../assets/images/banner.png">
  </div>
</section>