<aside class="sidenav">
  <ul>
    <li><span class="list-icon"></span>Work</li>
    <li><span class="list-icon"></span>Family</li>
    <li><span class="list-icon"></span>House</li>
    <li><span class="list-icon"></span>Enterogermina</li>
    <li><span class="list-icon"></span>House</li>
    <li>
      <form>
        <input type="checkbox" name="hide-task" id="hide-task" class="checkmark">
        <label for="hide-task">Hide Task Complete</label>
      </form>
    </li>
  </ul>
  <img src="../../../assets/images/banner.png"/>
</aside>