<aside class="sidenav">
  <div class="justify-content align-center">
    <h5>Tags</h5>
    <button type="submit" class="btn">+</button> 
  </div>
 
  <ul>
    <li class="list-title"><span class="list-icon"></span>Family</li>
    <li class="list-title"><span class="list-icon"></span>House</li>
    <li class="list-title"><span class="list-icon"></span>Enterogermina</li>
    <li class="list-title"><span class="list-icon"></span>House</li>
    <li class="list-title"><span class="list-icon"></span>Work</li>
    <li>
      <form>
        <input type="checkbox" name="hide-task" id="hide-task" class="checkmark">
        <label for="hide-task">Hide Task Complete</label>
      </form>
    </li>
  </ul>
  <img src="../../../assets/images/banner.png"/>
</aside>