ul {
  list-style-type: none;
  width: 100%;
}


li{
  padding: 5px;
  margin: 15px 0;
}

.list-icon{
  background-color: green;
  border: 2px green;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  display: inline-block;
}

img{
  width: 35%;
  height: 35%;
}

.list-title:hover{
  font-weight: bolder;
  cursor: pointer;
}
.sidenav{
  background-color: #fafafa;
  padding: 15px;
  width: auto;
  height: 100%;
  display: fixed;

}

.sidenav h5{
  display: inline;
  padding-right: 5em;
}