<div class="flex">
  <img matListItemAvatar class="rounded" src="../../../assets/images/image-100x100.jpg" alt="...">
  <p>{{user.name}}</p>
</div>
<mat-nav-list>
  <mat-list-item (click)="openDialog()">
    <div class="flex">
      <mat-icon class="pl-1 red">add_circle</mat-icon>
      <span>Create a task</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="flex" (click)="router.navigateByUrl('/tasks')">
      <mat-icon class="pl-1">inbox</mat-icon>
      <span>Inbox</span>
    </div>
  </mat-list-item>
  <mat-list-item (click)="getTaskByPeriod('today')">
    <div class="flex">
      <mat-icon class="pl-1">wb_sunny</mat-icon>
      <span>Today</span>
    </div>
  </mat-list-item>
  <mat-list-item (click)="getTaskByPeriod('upcoming')">
    <div class="flex">
      <mat-icon class="pl-1">calendar_today</mat-icon>
      <span>Upcomming</span>
    </div>
  </mat-list-item>  
 </mat-nav-list>

 <mat-nav-list>
  <div class="flex sb">
    <h3 mat-subheader>My Projects</h3>
    <button mat-button color="primary" (click)="openDialogProject()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-list-item *ngFor="let project of projects" (click)="getTaskByProject(project.id)" class="flex sb">
    <span>
      <mat-icon mat-list-icon [ngStyle]="{'color': project.color}">tag</mat-icon>
      <h4 mat-line>Home</h4>
    </span>
    <mat-icon mat-list-icon>more_horiz</mat-icon>
  </mat-list-item>
</mat-nav-list>
  
  <!-- <ul>
    <li class="list-title"><span class="list-icon"></span>Family</li>
    <li class="list-title"><span class="list-icon"></span>House</li>
    <li class="list-title"><span class="list-icon"></span>Enterogermina</li>
    <li class="list-title"><span class="list-icon"></span>House</li>
    <li class="list-title"><span class="list-icon"></span>Work</li>
    <li>
      <form>
        <input type="checkbox" name="hide-task" id="hide-task" class="checkmark">
        <label for="hide-task">Hide Task Complete</label>
      </form>
    </li>
  </ul>
  <img src="../../../assets/images/banner.png" alt="image app" class="image"> -->
