section{
  display: flex;
  justify-content: space-between;
}
mat-sidenav{
  padding: 15px;
  border-right: none;
}
.right{
  margin-left: 90%;
  padding: 10px;
}
.btn-icon{
  transform: scale(2);
}

.red{
  color: red;
}
.btn-index{
  padding: 15px;
}
.tasks-square{
  min-height: 100vh;
}